h1 {
    color: #27aedb;
    text-align: center;
    }
    

    #btn{
        margin-left: 45%;


    }
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}

#task{
    margin-left: 40%;
    width: 200px;
}
#task-list{
    height: 300px;
    width: 300px;
    border: 3px  solid;
    color:balck;
    margin-left: 36%;
    margin-top: 50px;

}
#list{
    margin-right: 5px;
    margin-bottom: 8px;
}
.edit{
    margin-left: 5px;
    margin-right: 5px;
}